<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Your Assignment Wala</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  {% if messages %}
  <ul class="messages bg-info text-white">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="banner">

    <div class="black-banner">
      <div class="navbar">
        <nav class="navbar navbar-dark fixed-top" style="background-color: rgba(255, 255, 255, 0);">
          <div class="px-5">
            <button class="navbar-toggler bg-info" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header m-auto">
              <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"
                style="background-color: red;"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active text-dark" aria-current="page" href="index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="about">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Our Service
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light">
                    <li><a class="dropdown-item text-black text-end" href="#assignment">Assignment</a></li>
                    <li><a class="dropdown-item text-black text-end" href="#EngineeringGraphics">Engineering Graphics Sheet</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>


                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Contact Us
                  </a>
                  <ul class="dropdown-menu dropdown-menu-light ">
                    <li class="text-end p-2">Phone No. : 7982527257</li>
                    <li class="text-end p-2">Email: appt79825@gmail.com</li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
          </div>

          </div>
          <div class="logo">
            <img src="../static/images/logo.png" alt="" height="200" width="200">
          </div>
        </nav>
      </div>
      <div class="banner-content">
        <h1 class="text-black">Your Assignment Wala</h1>
        <p class="text-primary display-6">Your Partner in Academic Excellence</p>
        <p class="text-success display-6 blockquote">"Assignments Simplified, Grades Amplified!"</p>
      </div>
    </div>
  </div>

  <div class="service-type" id="Service">
    <h1 class="text-center my-5">Types Of Service We Provide</h1>
    <div class="row justify-content-center">

      {% for image in images %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow" id="assignment">
          <img src="{{ image.image.url }}" class="card-img-top" alt="..." height="300">
          <div class="card-body">
            <h5 class="card-title text-center">{{ image.title }}</h5>
            <a href="form" class="btn btn-success">Place Order</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>



  <div class="company-goal">
    <h1 class="text-center m-4">Our Goal And Our Perspective
    </h1>

    <div class="goal-box">
      <div class="container mt-4">
        <button data-toggle="collapse" data-target="#assignmentWalaContent" aria-label="Toggle Content"
          style="border: unset;   background-color: rgba(255, 255, 255, 0);">
          <img src="../static/svg/drop-arrow.svg" alt="">
        </button>
        <div id="assignmentWalaContent" class="text-center w-75 collapse collapse-transition mt-3 overflow-scroll"
          style="max-height: 50vh;">
          <section class="card card-body">


            <section>
              <h3 class="text-success">Our Goal</h3>
              <p>Our primary goal is to alleviate the academic pressure on students by offering comprehensive assignment
                and engineering graphics drawing services. We aim to:</p>
              <ul>
                <li class="bg-secondary text-white">Provide High-Quality Assistance: Deliver meticulously crafted
                  assignments and precise engineering graphics drawings that meet academic standards.</li>
                <li class="bg-info text-white">Support Academic Success: Help students maintain their academic
                  performance by ensuring they meet deadlines and achieve the grades they aspire to.</li>
                <li class="bg-secondary text-white">Offer Reliable Service: Be a dependable resource for students facing
                  various challenges that prevent them from completing their assignments on time.</li>
              </ul>
            </section>
            <section>
              <h3 class="text-success">Our Perspective</h3>
              <p>At Assignment Wala, we believe every student deserves a fair chance to succeed, regardless of the
                hurdles life throws their way. We are committed to offering our services to students who find themselves
                unable to complete their assignments due to:</p>
              <ul>
                <li class="bg-secondary text-white">Health Issues: Students who are battling illnesses such as fever,
                  chronic conditions, or recovering from surgery.</li>
                <li class="bg-info text-white">Accidents: Those who have been involved in accidents and require time to
                  heal.</li>
                <li class="bg-secondary text-white">Family Problems: Students dealing with family emergencies, loss, or
                  other family-related issues that demand their attention.</li>
                <li class="bg-info text-white">Personal Issues: Individuals facing mental health challenges, burnout, or
                  other personal matters that impact their ability to focus on academics.</li>
              </ul>
            </section>
            <p>At Assignment Wala, we are more than just a service provider; we are a partner in your academic journey,
              dedicated to helping you overcome obstacles and achieve your educational goals.</p>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">

    <!-- Footer -->
    <footer class="footer text-center text-lg-start">
      <div class="container">
        <div class="row">

          <!-- Company Info -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
            <h5 class="text-uppercase">Assignment Wala</h5>
            <p>
              Helping students with their assignments and engineering graphics drawings. We support those who are unable
              to complete their work due to various personal issues.
            </p>
          </div>

          <!-- Quick Links -->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Quick Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="index">Home</a>
              </li>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="#Service">Services</a>
              </li>
            </ul>
          </div>


          <!-- Social Media -->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center">
            <h5 class="text-uppercase">Follow Us</h5>
            <div class="social-icons">
              <a href="https://www.facebook.com/roshan.chaurasia.129"><img src="../static/svg/facebook.svg" alt=""></a>
              <a href="#"><img src="../static/svg/instagram.svg" alt=""></a>
              <a href="#"><img src="../static/svg/watsapp.svg" alt=""></a>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Assignment Wala. All rights reserved.
      </div>
    </footer>
  </div>



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    -->
</body>

</html>