{% extends "assignment_app/base.html" %}
  

{% block links %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'assignment_app/css/form.css' %}">
{% endblock links %}



{% block body %}
<br><br><br><br>

<h1 class="text-center m-4">Place Your Order Here</h1>
<div class="info container">
  <div class="left">
    
    <img src="{% static 'assignment_app/images/form-image.avif' %}" alt="" style="width: 100%; height: auto; max-width: 100%;">
  </div>
  <div class="right">
    <div class="price-info">
      <input type="text" placeholder="Assignment: 5 Rs/Page" readonly>
      <input type="text" placeholder="Engineering Graphics: 50 Rs/Sheet" readonly>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="Name" id="Name" placeholder="Enter Your Name" required>
      <input type="text" name="Phone" id="Phone" placeholder="Enter Your Phone Number" required>
      <input type="email" name="Email" id="Email" placeholder="Enter Your Email Id" required>
      <select name="WorkType" id="WorkType" required>
        <option value="Assignment">Assignment</option>
        <option value="EngineeringGraphics">Engineering Graphics Sheet</option>
      </select>
      <input type="number" name="Sheet" id="Sheet" placeholder="Number Of Sheets To be Done" value="1" min="1" required>
      <label class="text-black" for="Date">Date Of Assignment Delivery</label>
      <input type="date" name="Date" id="Date" required>
      <label class="text-black" for="File">Upload Your Assignment Question</label>
      <input type="file" name="File" id="File" required>
     
      <div class="box">
        <p class="text-body-tertiary">Your Total amount:</p>
        <div id="amount">
          
        </div>
      </div>
      <button class="btn btn-success">Place Order</button>
    </form>
  </div>
</div>

{% endblock body %}



{% block scripts %}

<script src="{% static 'assignment_app/js/form.js' %}"></script>

{% endblock scripts %}








