{% extends "assignment_app/base.html" %}


{% block links %}

{% load static %}

{% endblock links %}


{% block body %}


  <div class="banner">
    <div class="black-banner">
      <div class="banner-content">
        <h1 class="text-black">Your Assignment Wala</h1>
        <p class="text-primary display-6">Your Partner in Academic Excellence</p>
        <p class="text-success display-6 blockquote">"Assignments Simplified, Grades Amplified!"</p>
      </div>
    </div>
  </div>

<div class="service-type" id="Service">
  <h1 class="text-center my-5">Types Of Service We Provide</h1>
  <div class="row justify-content-center">

    {% for image in images %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card shadow" id="assignment">
        <img src="{{ image.image.url }}" class="card-img-top" alt="..." height="300">
        <div class="card-body">
          <h5 class="card-title text-center">{{ image.title }}</h5>
          <a href="form" class="btn btn-success">Place Order</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

<div class="company-goal">
  <h1 class="text-center m-4">Our Goal And Our Perspective
  </h1>

  <div class="goal-box">
    <div class="container mt-4">
      <button data-toggle="collapse" data-target="#assignmentWalaContent" aria-label="Toggle Content"
        style="border: unset;   background-color: rgba(255, 255, 255, 0);">
        <img src="{% static 'assignment_app/svg/drop-arrow.svg' %}" alt="">
      </button>
      <div id="assignmentWalaContent" class="text-center w-75 collapse collapse-transition mt-3 overflow-scroll"
        style="max-height: 50vh;">
        <section class="card card-body">
          <section>
            <h3 class="text-success">Our Goal</h3>
            <p>Our primary goal is to alleviate the academic pressure on students by offering comprehensive assignment
              and engineering graphics drawing services. We aim to:</p>
            <ul>
              <li class="bg-secondary text-white">Provide High-Quality Assistance: Deliver meticulously crafted
                assignments and precise engineering graphics drawings that meet academic standards.</li>
              <li class="bg-info text-white">Support Academic Success: Help students maintain their academic
                performance by ensuring they meet deadlines and achieve the grades they aspire to.</li>
              <li class="bg-secondary text-white">Offer Reliable Service: Be a dependable resource for students facing
                various challenges that prevent them from completing their assignments on time.</li>
            </ul>
          </section>
          <section>
            <h3 class="text-success">Our Perspective</h3>
            <p>At Assignment Wala, we believe every student deserves a fair chance to succeed, regardless of the
              hurdles life throws their way. We are committed to offering our services to students who find themselves
              unable to complete their assignments due to:</p>
            <ul>
              <li class="bg-secondary text-white">Health Issues: Students who are battling illnesses such as fever,
                chronic conditions, or recovering from surgery.</li>
              <li class="bg-info text-white">Accidents: Those who have been involved in accidents and require time to
                heal.</li>
              <li class="bg-secondary text-white">Family Problems: Students dealing with family emergencies, loss, or
                other family-related issues that demand their attention.</li>
              <li class="bg-info text-white">Personal Issues: Individuals facing mental health challenges, burnout, or
                other personal matters that impact their ability to focus on academics.</li>
            </ul>
          </section>
          <p>At Assignment Wala, we are more than just a service provider; we are a partner in your academic journey,
            dedicated to helping you overcome obstacles and achieve your educational goals.</p>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
