{% extends "assignment_app/base.html" %}
  

{% block links %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'assignment_app/css/form.css' %}">
{% endblock links %}



{% block body %}
<br><br><br><br>
  <h1 class="text-center m-4 text-decoration-underline">Place Your Order Now</h1>
  <div class="info container">
    <div class="left">
      <img src="{% static 'assignment_app/images/form-image.avif'%}" alt="" style="width: 100%; height: auto; max-width: 100%;">
    </div>
    <div class="right">
      <div class="price-info">
        <input type="text" placeholder="Assignment: 5 Rs/Page" readonly>
        <input type="text" placeholder="Engineering Graphics: 50 Rs/Sheet" readonly>
        <h4 class="text-info">We have Send you otp on your register email id!!.
            <h5 class="text-danger">If not recieve please fill the form once again with correct Email id </h5>
        </h4>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="email" name="Email" id="Email" placeholder="Enter Your Email Id" required>
        <input type="number" name="Otp" id="Otp" placeholder="Enter Otp" required>
        <button class="btn btn-success">Confirm Order</button>
      </form>
    </div>
  </div>

  {% endblock body %}



  {% block scripts %}
  
  {% endblock scripts %}
